<!-- permission.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">

<body>
    <div th:if="${successMessage}" class="alert alert-success my-2" th:text="${successMessage}" id="successMessage">
    </div>
    <div th:if="${error}" class="alert alert-danger my-2" th:text="${error}" id="error"></div>
    <div class="row mb-4 rounded shadow pb-3  pt-2">
        <form th:action="@{/cms/product/products}" method="get">
            <div class="row">
                <div class="col-md-3">
                    <label for="productName">Search</label>
                    <input type="text" id="productName" class="form-control" name="productName" th:value="${productName}"
                        placeholder="Search by Product name">
                </div>
                <div class="col-md-3">
                    <label for="category">Category</label>
                    <select class="form-select" id="category" name="categoryId">
                        <option th:value="${null}">Select</option>
                        <option th:each="category:${categories}" th:value="${category.id}" th:selected="${categoryId == category.id}" th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="brand">Brand</label>
                    <select id="brand" class="form-select" name="brandId">
                        <option th:value="${null}">Select</option>
                        <option th:each="brand:${brands}" th:value="${brand.id}" th:selected="${brandId == brand.id}" th:text="${brand.name}"></option>
                    </select>
                </div>
                <div class="col-md-2 pt-4" style="text-align: center;">
                    <button type="submit" class="btn bnt-md btn-outline-primary">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row shadow mb-2">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Product name</th>
                        <th>Category</th>
                        <th>Brand</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.category.name}"></td>
                        <td th:text="${product.brand.name}"></td>
                        <td class="d-flex justify-content-center">
                            
                            <a th:href="@{/cms/product/view/{id}(id=${product.id})}" class="btn btn-sm btn-outline-primary view-btn">View</a>

                            <a th:href="@{/cms/product/update/{id}(id=${product.id})}"
                                class="btn mx-2 btn-sm btn-outline-secondary">Edit</a>
                            <form th:action="@{delete/{id}(id=${product.id})}" method="post"
                                onsubmit="return confirm('Are you sure you want to delete this brand?');">
                                <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" th:if="${currentPage > 0}">
                    <a class="page-link"
                        th:href="@{${currentPath}(page=${currentPage - 1}, search=${search})}">Previous</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                    th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{${currentPath}(page=${i}, search=${search})}"
                        th:text="${i + 1}"></a>
                </li>

                <li class="page-item" th:if="${currentPage < totalPages - 1}">
                    <a class="page-link" th:href="@{${currentPath}(page=${currentPage + 1}, search=${search})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- view modal -->
    <div class="modal fade" id="viewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Description:</h6>
                    <p id="description"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll(".view-btn").forEach((button) => {
                button.addEventListener("click", () => {
                    const categoryName = button.getAttribute("data-name");
                    const categoryDescription = button.getAttribute("data-description");

                    document.querySelector(".modal-title").textContent = categoryName;
                    document.getElementById("description").textContent = categoryDescription;
                });
            });
        });

    </script>

</body>

</html>