<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">

<body>

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a th:href="@{/cms/category/categories}">Categories</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page" th:text="${category.name}">Category Name</li>
		</ol>
	</nav>

	<div class="row shadow p-2 pb-3 mb-5">
		<h3>Update Category</h3>
		<hr>
		<div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}" id="successMessage">
		</div>
		<div th:if="${error}" class="alert alert-danger" th:text="${error}" id="error"></div>
		<form th:action="@{/cms/category/update/{id}(id=${id})}" method="post" th:object="${category}">
			<div class="row">
				<div class="col-md-4">
					<label for="name">Category Name</label>
					<input type="text" class="form-control" th:field="*{name}" placeholder="Enter category name.">
					<div th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"
						class="text-danger"></div>
				</div>
				<div class="col-md-6">
					<label for="description">Description</label>
					<textarea rows="3" id="description" class="form-control" th:field="*{description}"
						placeholder="Enter description here."></textarea>
					<div th:if="${#fields.hasErrors('description')}" th:errorclass="error" th:errors="*{description}"
						class="text-danger"></div>
				</div>
				<div class="col-md-2">
					<button type="submit" class="btn btn-md btn-primary mt-4">Update</button>
				</div>
			</div>
		</form>
	</div>
</body>

</html>